$black:#292b37;


.div-content{
  border: 1px solid #ccc;
  padding-top: 15px;
  padding-left: 18.5%;
  padding-right: 18.5%;
  height: 1700px;
  display: flex;
  flex-direction: column;
}
.carousel-inner{
  display: inline-block;
}

#carousel-content{
  width: 730px;
  height: 400px;
  border: 1px solid #ccc;
  overflow: hidden;
  display: inline-block;
  ul{
    margin: 0;
    padding: 0;

  }
  li,img{
    width: 100%;
    height: 100%;
    float: left;
    cursor: pointer;
  }
  li{
    display: inline-block;
    position: relative;
    animation:switch 15s ease 1s infinite;
    animation-duration: 15s;
  }
}

.sec-1{
  height: 400px;
  display: flex;
}
.sec-1-info{
  display: inline-block;
  margin-left: 10px;
  height: inherit;
  flex: 1;
}

.row-top{
  background-color: $black;

}
.row{
  display: inline-block;
  width: 100%;
  height: 35%;
  color: white;

  img{
    width: 37px;
    height: 37px;
    display: block;
    margin: 0 auto;
  }
  span{
    display: block;
    margin: 0 auto;
  }
  >div{
    display: inline-block;
    width: 100px;
    height: 100%;
    padding-top: 37px;
  }
}

.row-info-bottom{
  background-color: #e1e1e1;
  height: 65%;
}
.row-info-bottom > .row{
  color: black;
}

.ant-divider-horizontal {
  margin: 24px 0px 5px 0;
}

.sec{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
  header{
    font-size: 17px;
    font-weight: bold;
    display: flex;
    
    .span-split{
      margin: 0 10px;
      width: 2px;
      height: 100%;
      background-color: $black;
    }

    a{
      color: black;
    }
    a:hover{
      color: orange;
    }
    .span-split-special{
      font-weight: bold;
    }
  }
  .header-right-g{
    font-weight: 300;
    font-size: 12px;
    a{
      margin: 0 5px;
    }
    a:hover{
      border-bottom: 1px solid #3268ae;
    }
  }
  >div{
    flex: 1;
    flex-direction: column;
  }
}
.span-split-light{
  margin: 0 10px;
  width: 2px;
  height: 100%;
  background-color: $black;
}
#bottom-content{
  margin-top: 10px;
  flex-direction: column;
  flex: 1;
  img {
    display: inline-block;
    height: 100%;
    width: 100%;
  }
  a{
    width: 100%;
    display: block;
    text-align: start;
  }
}
.class-1{
  width: 25%;
}
.class-2{
  width: 20%;
}
.class-kind{
  width: 25%;
}
.class-3{
  width: 50%;
  p{
    margin-bottom: 5px;
  }
}
.bottom-content-item{
  height: 90%;
  display: inline-block;
  padding: 0 10px;
  a{
    color: black;
    font-weight: 250
  }
}

.bottom-content-item:nth-child(1){
  padding-left:0;
}
.bottom-content-item:nth-last-child(1){
  padding-right:0;
}

@keyframes switch{
  0%{};
  10%{};
  20%{};
  30%{transform:translateY(-100%);}
  40%{transform:translateY(-100%);}
  50%{transform:translateY(-200%);}
  60%{transform:translateY(-200%);}
  80%{transform:translateY(-100%);}
  90%{transform:translateY(-100%);}
  // 100%{transform:translateY(0%);}
  }