$fontColor:black;
$aHoverColor:rgb(101, 215, 231);

.App-header {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  height: 70px;
  display: flex;
  align-items: center;
  // justify-content: center;
  font-size: calc(10px + 2vmin);
  color: $fontColor;
}

.App-header>div{
  // flex: 1;
  height: 100%;
  text-align: center;
}
.head-left{
  img{
    height: 100%;
    width: 127px;
    cursor: pointer;
  }
}

.head-mid{
  font-size: 0.5em;;
  margin-top: 10px;
  margin-left: 10px;
  
  li{
    display: inline-block;
    padding: 8px;
    
    a{
      color: black;
      height: 40px;
      line-height: 40px;
      transition: color 0.2s ease-in;
    }
    a:hover{
      color: $aHoverColor;
      border-bottom: 1px solid $aHoverColor;
    }
    a:active{
      color: $aHoverColor;
    }

  }
  li:last-child{
    font-weight: 700;
    font-size: 18px;
    position: relative;
    top: -3px;
  }
}

#head-right-ul{
  display: block;
  position: relative;
  height: 100%;
  // transform: translateX(380%);

  li{
    display: inline-block;
  }
  li:hover{
    background-color: #ccc;
  }
  a{
    display: inline-block;
    border: 0.5px solid #ccc;
    height: inherit;
    width: 76px;
    line-height: 68px;
    text-align: center;
    vertical-align: middle;
  }
  img{
    height: 30px;
    width: 30px;
    margin-top: -3px;
  }
}

#m-span{
  display: flex;
  flex: 1;
}